TTttR.scriv/Files/binder.autosave
TTttR.scriv/Files/binder.backup
TTttR.scriv/Files/search.indexes
TTttR.scriv/Files/user.lock
TTttR.scriv/Files/Docs/docs.checksum
TTttR.scriv/QuickLook/
TTttR.scriv/Settings/ui.plist
